.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .container {
    min-height: 1000px;
    width: var(--default-header-width);
    display: flex;

    .content {
      flex: 1;
      min-height: 500px;
    }
  }
}
